default: &default
  adapter: postgresql
  encoding: unicode

development:
  <<: *default
  url: <%= "#{ENV.fetch("DATABASE_URL")}_development?pool=#{ENV.fetch("RAILS_MAX_THREADS") { 5 }}" %>

test:
  <<: *default
  url: <%= "#{ENV.fetch("DATABASE_URL")}_test?pool=#{ENV.fetch("RAILS_MAX_THREADS") { 5 }}" %>

production:
  url: <%= ENV['DATABASE_URL'] %>
