@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,600|Roboto:400,500,700|Roboto+Mono:400,500,700|Eczar:500&display=swap");

:root {
  --color-red-100: #fef6f6;
  --color-red-200: #f7a0a1;
  --color-red-300: #f47073;
  --color-red-400: #ec1915;

  --color-gray-100: #fefefe;
  --color-gray-200: #d6d7d9;

  --color-green-100: rgba(111, 207, 151, 0.25);
  --color-green-200: #219653;

  --color-white: #fff;
  --color-black: #343540;
  --color-monterail: #ed1116;
}

.ml-text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-button {
  @apply py-2 px-6 border-2 rounded-full font-roboto-mono;
}

.hero-card {
  min-height: 75vh;
}
