@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,600|Roboto:400,500,700|Roboto+Mono:400,500,700|Eczar:500&display=swap");

:root {
  --color-red-100: #fef6f6;
  --color-red-200: #f7a0a1;
  --color-red-300: #f47073;
  --color-red-400: #ec1915;
  --color-red-cindirella: #fde7e8;

  --color-gray-100: #fefefe;
  --color-gray-200: #d6d7d9;
  --color-gray-300: #84868d;
  --color-gray-athens: #f7f7f7;

  --color-green-100: rgba(111, 207, 151, 0.25);
  --color-green-200: #219653;

  --color-white: #fff;
  --color-black: #343540;
  --color-monterail: #ed1116;
}

.ml-text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-iframe-16-9 {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.link-button {
  @apply py-2 px-6 border-2 rounded-full font-roboto-mono;
}

.hero-card {
  min-height: 80vh;
}
