@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-red-100: #fef6f6;
  --color-red-200: #f7a0a1;
  --color-red-300: #f46f73;
  --color-red-400: #ec1915;

  --color-gray-100: #fefefe;

  --color-white: #fff;
  --color-black: #343540;
  --color-monterail: #ed1116;
}
